@import 'tailwindcss';

@layer base {
  body {
    @apply bg-black text-white;
  }

  /**
  *  Animaciones generales
  */

  @keyframes glow {
    0%,
    100% {
      text-shadow: 0 0 5px #00f, 0 0 10px #0ff, 0 0 20px #0ff;
    }
    50% {
      text-shadow: 0 0 10px #0ff, 0 0 20px #0ff, 0 0 30px #0ff;
    }
  }
  .text-glow {
    animation: glow 1.5s infinite alternate;
  }

  @keyframes pulse-glow {
    0%,
    100% {
      opacity: 0.8;
      transform: scale(1);
    }
    50% {
      opacity: 1;
      transform: scale(1.05);
    }
  }
  .pulse-glow {
    animation: pulse-glow 1.5s ease-in-out infinite;
  }

  @keyframes fade-slide {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .fade-slide {
    animation: fade-slide 0.8s ease-out forwards;
  }
  .animate-fade-slide {
    animation: fade-slide 0.8s ease-out forwards;
  }

  @keyframes zoom-in {
    0% {
      opacity: 0;
      transform: scale(0.8);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  .zoom-in {
    animation: zoom-in 0.8s ease-out forwards;
  }

  /**
  *   Animación letras flotantes
  */
  @keyframes float-letter {
    0% {
      transform: translateY(0) rotate(0deg);
      opacity: 0;
    }
    50% {
      transform: translateY(-5px) rotate(-2deg);
      opacity: 1;
    }
    100% {
      transform: translateY(0) rotate(2deg);
      opacity: 1;
    }
  }
  .floating-letter {
    display: inline-block;
    animation: float-letter 0.8s ease-out forwards;
  }

  /**
  * Animación título flotante (sección Sobre mí)
  */
  @keyframes float-title {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  .floating-title {
    display: inline-block;
    animation: float-title 3s ease-in-out infinite;
  }

  /**
  * Hover habilidades
  */
  li:hover {
    color: white;
    transform: scale(1.02);
    transition: all 0.3s ease;
  }
}

/**
* Botones
*/
.btn-white {
  @apply px-6 py-2 rounded-lg font-semibold uppercase text-black bg-white hover:bg-gray-200 transition-all duration-300;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
