/* #root {
  margin: 0 auto;
  padding: 2rem;
} */

.logo {
  height: 10em;
  padding: 1em;
  will-change: filter;
  transition: filter 300ms;
  border-radius: 50%;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.soylion:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo.soylion {
  animation: spin-slow 12s linear infinite;
}
